.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Media card styles */

.media-card {
  background: var(--bs-white);
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.media-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

.media-card a {
  text-decoration: none;
  color: var(--bs-black);
}

.media-card a:hover {
  color: var(--bs-crete);
}
.media-card h3 {
  margin: 0.5rem 0;
}
.media-card > p {
  font-size: 0.8em;
  line-height: 1.5;
  color: var(--bs-grey-2);
}