
main {
  padding: 1rem;
}

/* alerts */

.alerts > ul {
  list-style: none;
  padding: 0;
}

.alert {
  margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}

.alert h3 {
  margin: 0;
  font-size: 1.2em;
}

.alert p {
  margin: 0;
}

.alert svg {
  height: 30px;
  width: 30px;
  margin: 0.25em;
  flex: 0 0 auto;
}

/* visitor styles */

.visitor > details > ul {
  list-style: none;
  padding: 0;
}

.visitor > details li {
  border-bottom: 1px solid var(--bs-grey-3);
  padding: 1rem;
}

.visitor-center h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--bs-black);
}

.visitor-center p {
  margin: 0.5rem 0;
  line-height: 1.4;
  color: var(--bs-grey-2);
}

.visitor-center p:last-child {
  margin-bottom: 0;
}

/* activities styles */

.activities > details > ul {
  list-style: none;
  padding: 0;
}

.activities > details li {
  border-bottom: 1px solid var(--bs-grey-3);
  padding: 0.5rem 1rem;
}

.activities > details li:last-child {
  border-bottom: none;
}